<!DOCTYPE html>
<html>
  <%= render :partial => "layouts/head" %>
<body>
  <div class="container">
    <h1><%= link_to t(:manabu), home_path %></h1>
    <hr>
    <%= render :partial => "layouts/sidebar" %>
    <hr>
    <%= yield %>
    <hr>
    <%= render :partial => "layouts/footer" %>
  </div>
</body>
</html>
